body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #8e8ffa;
}

#header {
  background-color: #190482;
  height: 250px;
}

#gameSelectorContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7752fe;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gameSelectorContainerItems {
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #c2d9ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gameIcons {
  height: 68px;
  width: 68px;
  margin-left: 66px;
  margin-top: 10px;
}

.gameTitles {
  text-align: center;
}

#headerTitle {
  margin-top: 0;
  padding: 60px;
  text-align: center;
  font-size: 60px;
  color: #c2d9ff;
}

.gameSelectorContainerItems:hover {
  background-color: #8e8ffa;
}
